My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        0
      ],
      "id": "4c61716f-f57c-4b4d-9f90-c47617df4ca1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tIM3D2t9arv93LYkAbX7y3oAnvOP19XuwuxapJpfWeo",
          "mode": "list",
          "cachedResultName": "Loan Approval Project",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tIM3D2t9arv93LYkAbX7y3oAnvOP19XuwuxapJpfWeo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tIM3D2t9arv93LYkAbX7y3oAnvOP19XuwuxapJpfWeo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        0
      ],
      "id": "62ebeb27-3087-41c2-961a-a92273e853a9",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EzveIhHoH77n75gq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a38006ad-9618-430c-8b7f-c29b235ad373",
              "name": "EMI_Burden_Ratio",
              "value": "={{ $json.Existing_EMI / $json.Monthly_Salary * 100 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "39c66bca-f175-40ac-8a3d-003baa05fbc1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "75549c43-85c6-4f78-8c39-b4d85e4239fb",
              "leftValue": "={{ $json.Credit_Score }}",
              "rightValue": 650,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "d76b1875-ad34-4ca4-8a60-7130b42aa435",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "yockto674@gmail.com",
        "subject": "Loan Request Is Requested",
        "emailType": "text",
        "message": "Low Credit Score Not Enough To Pass The Loan ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        -96
      ],
      "id": "651cb1a3-7172-4027-ae77-87fd3c67503e",
      "name": "Send a message",
      "webhookId": "e7cad7b0-0508-4c0a-aefe-9d482addcc14",
      "credentials": {
        "gmailOAuth2": {
          "id": "E1y0CweUyjUNkrkM",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tIM3D2t9arv93LYkAbX7y3oAnvOP19XuwuxapJpfWeo",
          "mode": "list",
          "cachedResultName": "Loan Approval Project",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tIM3D2t9arv93LYkAbX7y3oAnvOP19XuwuxapJpfWeo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tIM3D2t9arv93LYkAbX7y3oAnvOP19XuwuxapJpfWeo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Loan_ID": "={{ $('If').item.json.Loan_ID }}",
            "EMI_Burden_Ratio": "={{ $('If').item.json.EMI_Burden_Ratio }}",
            "Risk_Level": "=High",
            "Loan_Status": "Rejected"
          },
          "matchingColumns": [
            "Loan_ID"
          ],
          "schema": [
            {
              "id": "Loan_ID",
              "displayName": "Loan_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Applicant_Name",
              "displayName": "Applicant_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monthly_Salary",
              "displayName": "Monthly_Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Credit_Score",
              "displayName": "Credit_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Existing_EMI",
              "displayName": "Existing_EMI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_Amount",
              "displayName": "Loan_Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EMI_Burden_Ratio",
              "displayName": "EMI_Burden_Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk_Level",
              "displayName": "Risk_Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loan_Status",
              "displayName": "Loan_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -96
      ],
      "id": "f81b8f8e-1f13-4a75-9222-fef6cfc865cc",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EzveIhHoH77n75gq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "517db11f-a6d6-4709-a80f-2db2b19cf5b0",
              "leftValue": "={{ $json.Credit_Score }}",
              "rightValue": 750,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "f183b677-823e-47e4-962f-1f8c35ad6c37",
              "leftValue": "={{ $json.EMI_Burden_Ratio }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        144
      ],
      "id": "8d9b22a3-e9ff-4286-8633-a9cc7935feb9",
      "name": "If1"
    },
    {
      "parameters": {
        "sendTo": "yockto674@gmail.com",
        "subject": "Approved",
        "emailType": "text",
        "message": "Loan is Approved",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        656,
        96
      ],
      "id": "b5ed9955-fa9a-41d5-b87e-c659f0b1fdcf",
      "name": "Send a message1",
      "webhookId": "5f65de3d-aa14-4e74-85af-55a9c98b92c7",
      "credentials": {
        "gmailOAuth2": {
          "id": "E1y0CweUyjUNkrkM",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tIM3D2t9arv93LYkAbX7y3oAnvOP19XuwuxapJpfWeo",
          "mode": "list",
          "cachedResultName": "Loan Approval Project",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tIM3D2t9arv93LYkAbX7y3oAnvOP19XuwuxapJpfWeo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tIM3D2t9arv93LYkAbX7y3oAnvOP19XuwuxapJpfWeo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Loan_ID": "={{ $('If').item.json.Loan_ID }}",
            "EMI_Burden_Ratio": "={{ $('If').item.json.EMI_Burden_Ratio }}",
            "Risk_Level": "Low ",
            "Loan_Status": "Approved"
          },
          "matchingColumns": [
            "Loan_ID"
          ],
          "schema": [
            {
              "id": "Loan_ID",
              "displayName": "Loan_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Applicant_Name",
              "displayName": "Applicant_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monthly_Salary",
              "displayName": "Monthly_Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Credit_Score",
              "displayName": "Credit_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Existing_EMI",
              "displayName": "Existing_EMI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_Amount",
              "displayName": "Loan_Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EMI_Burden_Ratio",
              "displayName": "EMI_Burden_Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk_Level",
              "displayName": "Risk_Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loan_Status",
              "displayName": "Loan_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        96
      ],
      "id": "4ce59e7d-68cb-4b2b-8a27-52a16467a365",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EzveIhHoH77n75gq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "yockto674@gmai.com",
        "subject": "Loan Pending",
        "emailType": "text",
        "message": "Loan Processing is Currently under Review",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        320
      ],
      "id": "2b87a45d-c8e2-4f66-90ce-77c44362ce41",
      "name": "Send a message2",
      "webhookId": "be379ea9-948a-4348-a15e-92e8dccc668e",
      "credentials": {
        "gmailOAuth2": {
          "id": "E1y0CweUyjUNkrkM",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tIM3D2t9arv93LYkAbX7y3oAnvOP19XuwuxapJpfWeo",
          "mode": "list",
          "cachedResultName": "Loan Approval Project",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tIM3D2t9arv93LYkAbX7y3oAnvOP19XuwuxapJpfWeo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tIM3D2t9arv93LYkAbX7y3oAnvOP19XuwuxapJpfWeo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Loan_ID": "={{ $('If').item.json.Loan_ID }}",
            "EMI_Burden_Ratio": "={{ $('If').item.json.EMI_Burden_Ratio }}",
            "Risk_Level": "Medium",
            "Loan_Status": "Pending"
          },
          "matchingColumns": [
            "Loan_ID"
          ],
          "schema": [
            {
              "id": "Loan_ID",
              "displayName": "Loan_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Applicant_Name",
              "displayName": "Applicant_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monthly_Salary",
              "displayName": "Monthly_Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Credit_Score",
              "displayName": "Credit_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Existing_EMI",
              "displayName": "Existing_EMI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_Amount",
              "displayName": "Loan_Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EMI_Burden_Ratio",
              "displayName": "EMI_Burden_Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk_Level",
              "displayName": "Risk_Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loan_Status",
              "displayName": "Loan_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        320
      ],
      "id": "0f6b5d71-e687-414f-93fa-b61e2a052d92",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EzveIhHoH77n75gq",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e71794c4-e219-498e-b15b-1941f0bdf6eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98b3f2df4e586b1942a09d8161a048d978d66abe97574f45ae9c3a58c306ccfc"
  },
  "nodeGroups": [],
  "id": "iM5utyUXK9OtM5IY",
  "tags": []
}